@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    color: #000;
    background-color: #f9f9f9;
}

#callout {
    display: flex;
    background-color: skyblue;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

#callout-wrapper {
    width: 75%;
    background-color: greenyellow;
}

#callout-wrapper > div {
    display: flex;
}

#apply {
    justify-content: center;
    align-items: center;
}

.apply-now {
    padding: 10px 25px;
    background-color: coral;
    color: #fff;
    margin: 10px;
    font-size: 150%;
    font-weight: 700;
    border-radius: 8px;
}

/* Header */

#header {
    display: flex;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    /* background-color: deeppink; */
}

#logo {
    background: url(../images/imageedit_20_4883318010.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 25%;
    height: 192px;
}

#nav-social-wrapper {
    width: 75%;
}

#nav-social-wrapper > div {
    margin: 40px 0;
}

#nav-social-wrapper a {
    font-size: 24px;
}

.social-links {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.social-links li, .nav-menu li {
    margin: 0 0 0 20px;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

/* Hero Section */

#hero-section {
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 560px;
    background: url(../images/hero\ image.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}

#cover-text {
    width: 300px;
    height: 200px;
    font-size: 150%;
    letter-spacing: 3px;
    padding-top: 25px;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.5);

    bottom: 40px;
    right: 40px;
    position: absolute;

    color: #fff;
}

/* Supports Section */

#supports-outer {
    margin: 40px 0;
    position: relative;
}

#supports-bg {
    height: 450px;
    background: url(../images/helping-banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    width: 100%;
}

#supports-info {
    width: 65%;
    margin: 0 auto;
    top: 0;
    left: 250px;
    text-align: center;
    position: absolute;
}

#supports-info h2 {
    font-size: 300%;
    margin-top: 40px;
}

#supports-info p {
    font-size: 125%;
    margin-top: 30px;
}

#supports-info button {
    font-size: 150%;
    margin-top: 20px;
    background-color: #6980FA;
    padding: 10px 25px;
    border-radius: 5px;
}

/* What We Do Section */

#what-we-do {
    background-color: lightslategray;
    padding: 40px 0;
}

#wwd-content {
    width: 65%;
    margin: 0 auto;
}

#wwd-content p {
    font-size: 150%;
    text-align: center;
    margin-bottom: 20px;
}

#wwd-content button {
    font-size: 150%;
    padding: 10px 25px;
    background-color: #6980FA;
    border-radius: 5px;
}

.wwd-btn {
    display: block;
    margin: 0 auto;
}

/* Our Mission Section */

#our-mission-container {
    margin: 40px auto;
    width: 75%;
    position: relative;
}

#our-mission-bg {
    height: 600px;
    background: url(../images/our-mission-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    opacity: 0.4;
}

#mission-content {
    width: 65%;
    margin: 40px auto;
    top: 0;
    text-align: center;
    left: 200px;
    position: absolute;
}

#mission-content h2 {
    font-size: 300%;
}

#mission-statement {
    font-size: 125%;
}

/* Volunteer Section */

#volunteering-container {
    position: relative;
}

#volunteer-bg {
    height: 572px;
    background: url(../images/volunteer-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
}

#volunteering-content {
    width: 50%;
    margin: 120px auto;
    top: 0;
    text-align: center;
    left: 375px;
    position: absolute;
}

#volunteering-content h2 {
    font-size: 300%;
}

#volunteering-content p {
    font-size: 125%;
    margin-top: 40px;
    padding-bottom: 40px;
}

.vol-btn {
    font-size: 150%;
    padding: 10px 25px;
    background-color: #6980FA;
    border-radius: 5px;
    text-transform: uppercase;
}

/* Our Hubs Section */

#our-hubs-container {
    position: relative;
}

#our-hubs-bg {
    height: 560px;
    width: 75%;
    background: url(../images/hub-hq-limerick.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    margin: 40px auto;
    border-radius: 12px;
}

#our-hubs-content {
    width: 50%;
    margin: 120px auto;
    top: 0;
    text-align: center;
    left: 375px;
    position: absolute;
}

#our-hubs-content h2 {
    font-size: 300%;
}

#our-hubs-content p {
    font-size: 125%;
    margin-top: 40px;
    padding-bottom: 40px;
}

.hub-btn {
    font-size: 150%;
    padding: 10px 25px;
    background-color: #6980FA;
    border-radius: 5px;
    text-transform: uppercase;
}